<style type="text/css">
body{color:black; font-size:14px; font-family:sans-serif; background:#0B0719; margin:30px; text-align:center}
body.center{margin-left=auto; margin-right=auto}
div{text-align:left; background:#FEFFF9; margin:0 auto}
div.padded{width:930px; padding-top:20px; padding-right:20px; padding-bottom:20px; padding-left:20px}
div.tabs{font-size:14px; font-style:bold; background:#583759; text-align:center}
a{text-decoration: none}
</style>

<title>Capstone</title>

</script>

</head>

<body class="center">
<div class="padded">
<table border="0" cellpadding="15" cellspacing="0">
<tr>
<td width="900px" height="590" background="static/seurat.png" valign="bottom" align="right">
  <br><br><FONT size="+3" color="white"><b>Far from the madding crowd?</b></FONT><br>
</td>
</tr>
</table>

<h3>Find out how busy your favourite outdoor parks will be over the next 24 hours.</h3>
  
<div class=metanav>
  <h2>Please choose a park:</h2>
  <form id='input' method='post' action='result'>	
  <p>
  <input type="radio" name='feature1' value='True'>Disneyland<br>
  <input type="radio" name='feature2'	value='True'>California Adventure<br><br>
  <input type="submit" value="Submit">
  </p>
  </form>
</div>

<h3>More parks coming soon!</h3>

<FONT size="-1"><i>Website &copy; Elspeth Ready 2016; Header painting &copy; <a href="https://en.wikipedia.org/wiki/A_Sunday_Afternoon_on_the_Island_of_La_Grande_Jatte">Georges Seurat</a></i></FONT><br>
</div>
</body>
